
<!DOCTYPE html>
<html lang="fr">
    
    <head>
        <meta charset="utf-8">
        <title>Ihren vorläufigen Bericht herunterladen - Bestag</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta name="description" content="">
        <link rel="icon" href="http://vu9kuxsiq.preview.infomaniak.website/themes/bestag/assets/images/favicon.ico">

        <meta property="og:url" content="http://vu9kuxsiq.preview.infomaniak.website/a-propos/contact">
        <meta property="og:title" content="Contact">
        <meta property="og:type" content="website">
        <meta property="og:description" content="">
        
        <link rel="alternate" hreflang="de" href="http://vu9kuxsiq.preview.infomaniak.website/de/a-propos/contact" />
        <link rel="alternate" hreflang="fr" href="http://vu9kuxsiq.preview.infomaniak.website/fr/a-propos/contact" />
        <link rel="alternate" hreflang="en" href="http://vu9kuxsiq.preview.infomaniak.website/en/a-propos/contact" />

        <link href="localstyles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet">
    </head>

    <style>
        #footer {padding-top: 20px;}
        @media (min-width: 991.99px) {
            body.layout-about-contact {padding-top:240px;}
            #mobile-menu .courtier-locale {display: none;}
        }
        @media (max-width: 991.98px) {
            #mobile-menu {bottom: unset; background-color: unset; top:0px; left: unset;}
            #mobile-menu .courtier-locale {display: flex; padding: 5px 0;}
            #header #main-menu .logo {margin-top: 40px;}
            #header #main-menu {height: 110px;}
        }

    </style>

    <body class="layout-about layout-about-contact page-contact">
        <header id="header" class="fixed-top">
            <nav id="top-menu" class="d-none d-lg-block">

                <button data-request="onSwitchLocale" data-request-data="locale: 'de'"
                        class="btn btn-link active">DE
                </button>

                <button data-request="onSwitchLocale" data-request-data="locale: 'fr'"
                        class="btn btn-link">FR
                </button>

                <button data-request="onSwitchLocale" data-request-data="locale: 'en'"
                        class="btn btn-link ">EN
                </button>
            </nav>
            <div id="mobile-menu">
                <div class="courtier-locale">

                    <button data-request="onSwitchLocale" data-request-data="locale: 'de'"
                            class="btn btn-link active">DE
                    </button>

                    <button data-request="onSwitchLocale" data-request-data="locale: 'fr'"
                            class="btn btn-link">FR
                    </button>

                    <button data-request="onSwitchLocale" data-request-data="locale: 'en'"
                            class="btn btn-link ">EN
                    </button>
                </div>
            </div>

            <div id="main-menu" class="bg-white">
                <div class="container h-100">
                    <div class="d-flex h-100 flex-row align-items-center">
                        <a href="/" class="logo mr-auto" accesskey="0">
                            <img src="http://vu9kuxsiq.preview.infomaniak.website/themes/bestag/assets/images/logo.svg" alt="" title="Bestag">
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <div class="block-head">
            <div class="container block-head">
                <div class="row">
                    <div class="col-lg-12" style="padding-bottom:50px;">
                        <h1><strong>Ihren vorläufigen Bericht herunterladen.</strong></h1>
                        <p>
                        Bitte klicken Sie weder auf die Zurück-Taste noch auf Aktualisieren. Der Bericht wird auf Basis hunderttausender Datenpunkte erstellt. Dies kann bis zu 15 Sekunden dauern. Sobald die Berechnung abgeschlossen ist, wird Ihr Bericht automatisch geladen.
                        </p>
                    </div>
                    <div class="col-lg-12" style="padding-top: 15px;">
                        <p>Dieser Bericht enthält aus Gründen der&nbsp;statistischen Validität keine Namen. Um bei der&nbsp;Auswertung ein relevantes und anwendbares Ergebnis zu&nbsp;erreichen, müssen die&nbsp;Parameter von&nbsp;Ihrem Bestag Kundenberater (in&nbsp;einem nächsten Schritt) für&nbsp;Sie noch angepasst und&nbsp;validiert werden.
                        </p>
                        <p>
                        Und denken Sie daran: Ihr Bestag Kundenberater hilft Ihnen gerne den Bericht zu verfeinern und zu verstehen. Mit der kostenlosen Bestag Formel erhalten Sie dazu die beste Bewertung vom Markt und einen leistungsoptimierenden Vertrag.
                        <br><br>
                        Kontaktieren Sie uns umgehend für ein unverbindliches und kostenloses Erstgespräch. 
                        <br><br>
                        Ihr Bestag Team in der Zürich und der&nbsp;Innerschweiz<br><br>
                        044 552 65 11                     
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer">
            <div class="container small">
                <div class="row row-2">
                    <div class="col-lg-6">
                        <p>&copy;2019 Bestag Vermittlung AG</p>
                    </div>
                    <div class="col-lg-6 ">
                        <p class="text-lg-right">Made in Switzerland</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="http://vu9kuxsiq.preview.infomaniak.website/combine/765c48f6733284be57378df925a335fb-1564997660.js"></script>

    </body>
</html>
