
<!DOCTYPE html>
<html lang="fr">
    
    <head>
        <meta charset="utf-8">
        <title>Your download link has expired - Bestag</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta name="description" content="">
        <link rel="icon" href="http://vu9kuxsiq.preview.infomaniak.website/themes/bestag/assets/images/favicon.ico">

        <meta property="og:url" content="http://vu9kuxsiq.preview.infomaniak.website/a-propos/contact">
        <meta property="og:title" content="Contact">
        <meta property="og:type" content="website">
        <meta property="og:description" content="">
        
        <link rel="alternate" hreflang="de" href="http://vu9kuxsiq.preview.infomaniak.website/de/a-propos/contact" />
        <link rel="alternate" hreflang="fr" href="http://vu9kuxsiq.preview.infomaniak.website/fr/a-propos/contact" />
        <link rel="alternate" hreflang="en" href="http://vu9kuxsiq.preview.infomaniak.website/en/a-propos/contact" />

        <link href="localstyles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet">
    </head>

    <style>
        .block-head .btn {margin-top: 0;}
        #footer {padding-top: 20px;}
        @media (min-width: 991.99px) {
            body.layout-about-contact {padding-top:240px;}
            #mobile-menu .courtier-locale {display: none;}
        }
        @media (max-width: 991.98px) {
            #mobile-menu {bottom: unset; background-color: unset; top:0px; left: unset;}
            #mobile-menu .courtier-locale {display: flex; padding: 5px 0;}
            #header #main-menu .logo {margin-top: 40px;}
            #header #main-menu {height: 110px;}
        }

    </style>

    <body class="layout-about layout-about-contact page-contact">
        <header id="header" class="fixed-top">
            <nav id="top-menu" class="d-none d-lg-block">

                <button data-request="onSwitchLocale" data-request-data="locale: 'de'"
                        class="btn btn-link ">DE
                </button>

                <button data-request="onSwitchLocale" data-request-data="locale: 'fr'"
                        class="btn btn-link">FR
                </button>

                <button data-request="onSwitchLocale" data-request-data="locale: 'en'"
                        class="btn btn-link active">EN
                </button>
            </nav>
            <div id="mobile-menu">
                <div class="courtier-locale">

                    <button data-request="onSwitchLocale" data-request-data="locale: 'de'"
                            class="btn btn-link ">DE
                    </button>

                    <button data-request="onSwitchLocale" data-request-data="locale: 'fr'"
                            class="btn btn-link">FR
                    </button>

                    <button data-request="onSwitchLocale" data-request-data="locale: 'en'"
                            class="btn btn-link active">EN
                    </button>
                </div>
            </div>

            <div id="main-menu" class="bg-white">
                <div class="container h-100">
                    <div class="d-flex h-100 flex-row align-items-center">
                        <a href="/" class="logo mr-auto" accesskey="0">
                            <img src="http://vu9kuxsiq.preview.infomaniak.website/themes/bestag/assets/images/logo.svg" alt="" title="Bestag">
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <div class="block-head">
            <div class="container block-head">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><strong>Your download link has expired.</strong></h1>

                        <p>Sorry! For data protection reasons, Bestag does not leave your analysis online over two weeks. The link to download your analysis has&nbsp;therefore expired.
                        <br><br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <p>Don't worry&nbsp;: your analysis (on newer data) is&nbsp;just clicks away.</p>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-primary btn-block">Find your agent online</button>
                    </div>
                </div>
                <div class="row">                
                    <div class="col-lg-6" style="padding-top: 15px;">
                        <p>
                        The Bestag team<br>
                        Zurich : 044 552 65 11<br>
                        Geneva : 022 552 08 50<br>
                        Nyon, Lausanne, Vevey : 021 552 59 00
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer">
            <div class="container small">
                <div class="row row-2">
                    <div class="col-lg-6">
                        <p>&copy;2019 Bestag Vermittlung AG</p>
                    </div>
                    <div class="col-lg-6 ">
                        <p class="text-lg-right">Made in Switzerland</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="http://vu9kuxsiq.preview.infomaniak.website/combine/765c48f6733284be57378df925a335fb-1564997660.js"></script>

    </body>
</html>
