
<!DOCTYPE html>
<html lang="fr">
    
    <head>
        <meta charset="utf-8">
        <title>Ihren Makler finden - Bestag</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta name="description" content="">
        <link rel="icon" href="http://vu9kuxsiq.preview.infomaniak.website/themes/bestag/assets/images/favicon.ico">

        <meta property="og:url" content="http://vu9kuxsiq.preview.infomaniak.website/a-propos/contact">
        <meta property="og:title" content="Contact">
        <meta property="og:type" content="website">
        <meta property="og:description" content="">
        
        <link rel="alternate" hreflang="de" href="http://vu9kuxsiq.preview.infomaniak.website/de/a-propos/contact" />
        <link rel="alternate" hreflang="fr" href="http://vu9kuxsiq.preview.infomaniak.website/fr/a-propos/contact" />
        <link rel="alternate" hreflang="en" href="http://vu9kuxsiq.preview.infomaniak.website/en/a-propos/contact" />

        <link href="localstyles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap" rel="stylesheet">
    </head>

    <style>
        #footer {padding-top: 20px;}
        @media (min-width: 991.99px) {
            body.layout-about-contact {padding-top:240px;}
            #mobile-menu .courtier-locale {display: none;}
        }
        @media (max-width: 991.98px) {
            #mobile-menu {bottom: unset; background-color: unset; top:0px; left: unset;}
            #mobile-menu .courtier-locale {display: flex; padding: 5px 0;}
            #header #main-menu .logo {margin-top: 40px;}
            #header #main-menu {height: 110px;}
        }

    </style>

    <body class="layout-about layout-about-contact page-contact">
        <header id="header" class="fixed-top">
            <nav id="top-menu" class="d-none d-lg-block">

                <button data-request="onSwitchLocale" data-request-data="locale: 'de'"
                        class="btn btn-link active">DE
                </button>

                <button data-request="onSwitchLocale" data-request-data="locale: 'fr'"
                        class="btn btn-link">FR
                </button>

                <button data-request="onSwitchLocale" data-request-data="locale: 'en'"
                        class="btn btn-link ">EN
                </button>
            </nav>
            <div id="mobile-menu">
                <div class="courtier-locale">

                    <button data-request="onSwitchLocale" data-request-data="locale: 'de'"
                            class="btn btn-link active">DE
                    </button>

                    <button data-request="onSwitchLocale" data-request-data="locale: 'fr'"
                            class="btn btn-link">FR
                    </button>

                    <button data-request="onSwitchLocale" data-request-data="locale: 'en'"
                            class="btn btn-link ">EN
                    </button>
                </div>
            </div>

            <div id="main-menu" class="bg-white">
                <div class="container h-100">
                    <div class="d-flex h-100 flex-row align-items-center">
                        <a href="/" class="logo mr-auto" accesskey="0">
                            <img src="http://vu9kuxsiq.preview.infomaniak.website/themes/bestag/assets/images/logo.svg" alt="" title="Bestag">
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <div class="block-head">
            <div class="container block-head">
                <div class="row">
                    <div class="col-lg-12" style="padding-bottom:50px;">
                        <h1><strong>Ihren Makler finden.</strong></h1>

                        <p>Einzigartig in der Schweiz&nbsp;: die Identifikation der&nbsp;besten Makler für&nbsp;Ihren Verkauf. Ergänzende Unterstützung, um&nbsp;Zeit und&nbsp;Geld zu&nbsp;sparen, erhalten Sie kostenlos von&nbsp;Ihrem Bestag Kundenberater.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-contact">
            <div class="container">
                <form method="post" data-request="onSubmit" data-request-flash>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-left">
                            <h4>Wo befindet sich Ihre Immobilie?</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-right">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="zipcode" class="required">PLZ </label>
                                        <input name="zipcode" id="zipcode" type="text" class="form-control" placeholder="8050">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="price" class="required">Preis </label>
                                        <input name="price" id="price" type="text" class="form-control" placeholder="1500000">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="address">Adresse (optional) </label>
                                        <input name="address" id="address" type="address" class="form-control" placeholder="Le Châble, Chemin des Dzardis">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-left">
                            <h4>Wohin soll der vorläufige Bericht geschickt werden?</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-right">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="firstname" class="required">Vorname </label>
                                        <input name="firstname" id="firstname" type="text" class="form-control" placeholder="Anna">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="lastname" class="required">Nachname </label>
                                        <input name="lastname" id="lastname" type="text" class="form-control" placeholder="Steiner">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="email" class="required">E-mail </label>
                                        <input name="email" id="email" type="email" class="form-control" placeholder="anna@bluewin.ch">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="phone">Telefonnummer </label>
                                        <input name="phone" id="phone" type="tel" class="form-control" placeholder="079 000 00 00">
                                    </div>
                                </div>

                                <div class="col-lg-12 d-none">
                                    <div class="form-group">
                                        <label for="username">
                                            Anti-SPAM protection please keep this field empty
                                        </label>
                                        <input name="username" id="username" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    * Pflichtfelder
                                </div>

                                <div class="col-lg-6">
                                    <button class="btn btn-primary btn-block">Finden Sie Top-Makleren</button>
                                </div>
                                <div class="col-lg-12" style="font-size: smaller; padding-top: 15px;">
                                    Falls Sie innerhalb von 5 Minuten keine E-Mail erhalten, überprüfen Sie bitte Ihren Spam-Ordner (Junk E-mail).
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer">
            <div class="container small">
                <div class="row row-2">
                    <div class="col-lg-6">
                        <p>&copy;2019 Bestag Vermittlung AG</p>
                    </div>
                    <div class="col-lg-6 ">
                        <p class="text-lg-right">Made in Switzerland</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="http://vu9kuxsiq.preview.infomaniak.website/combine/765c48f6733284be57378df925a335fb-1564997660.js"></script>

    </body>
</html>
